.birdList {
  width: 50%;
  padding-left: 0;
  height: auto;
  margin: 0;
  margin-right: 5px;
  border-radius: 10px;
  background-color: #ffebcd;
}

@media(max-width:600px) {
  .birdList{
    padding: 5px 0;
    width: 100%;
  }
}