@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lemonada:wght@500&display=swap');
.firstChunk {
  margin-left: 10px;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: sandybrown;
}

.secondChunk {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: white
}
