@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: wheat;
}
.wrapper {
  max-width: 1200px;
  min-height:100vh ;
  margin: 0 auto;
  background-color: wheat;
}

.correct {
  background-color: green
}
.incorrect {
  background-color: red;
}
.noactive {
  pointer-events: none;
}

